/* Shared styles  */
* {
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.button-primary {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    padding: 20px 43px;
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
}

/* Header related styles */
.header {
    background-color: rgba(229, 84, 115, 0.10);
}

.header-container {
    display: flex;
    justify-content: space-between;
    margin: 0 240px;
}

.header-container img {
    margin-top: 50px;
}

.header-content {
    max-width: 708px;
    max-height: 510px;
    margin-top: 197px;
}

.header-content-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

.header-content-description {
    color: rgba(39, 39, 39, 0.60);
    max-width: 620px;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    margin: 32px 0px;
}

/* Main related styles */


/* Featured flower styles */
.featured-flowers-container {
    margin-top: 180px;
}

.featured-flower-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 25px;
}

.featured-flower-description {
    color: rgba(39, 39, 39, 0.60);
    max-width: 580px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 0px 660px;
}

.flowers-container {
    margin: 48px 240px 0;
}

.flowers-with-background {
    display: flex;
    justify-content: space-around;
    gap: 24px;
}

.flowers-with-background h5 {
    text-align: center;
    margin-top: 30px;
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
}

#flower-one {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 75px 0 75px;
}

#flower-two {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 117px 45px 50px 45px;
}

#flower-three {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 67px 73px 0px 73px;
}

/* Delivery and support related styles */

.delivery-support-parent-container {
    margin: 100px 240px 0;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}

.delivery-support-container {
    display: flex;
    justify-content: space-evenly;
    padding: 85px;
}

.delivery-support-content h5 {
    color: #272727;
    font-size: 24px;
    font-weight: 600;
}